@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                From this application you can add/update and delete the contact info details. 
                Basically manage the contact information of the peoples.
            </p>
        </div>
    </section>
}

